<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WonderLust Listings</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<% layout("/layouts/boilerplate") %>

<body class="bg-light">

  <div class="container mt-5">

    
   
    <!-- Listings Grid -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-3 mb-5">
      <% for(let list of allListing) { %>
        <div class="col ">
          <a href="/listing/<%= list._id %>" class="text-decoration-none text-dark">
            <div class="card h-100 shadow-sm rounded-4">
              <img src="<%= list.image.url %>" 
                   class="card-img-top" 
                   alt="listing-image" 
                   style="height: 20rem; object-fit: cover;">

              <div class="card-body">
                <p class="card-text ps-3 pt-2">
                  <b><%= list.title %></b> <br>
                  &#8377; <%= list.price ? list.price.toLocaleString("en-IN") : 0 %>
                </p>
              </div>
            </div>
          </a>
        </div>
      <% } %>
    </div>

  </div>

  <!-- Bootstrap JS (optional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
