<% layout("/layouts/boilerplate") %>

<div class="d-flex justify-content-center align-items-center " style="margin-top: 80px;">
  <div class="card shadow-lg p-4 rounded-4 col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3">
    <h3 class="text-center mb-4">
      <span style="color: #FF385C; font-weight: bold;">Sign up</span> on 
      <span style="color: #FF385C; font-weight: bold;">Travique</span>
    </h3>

    <form method="POST" action="/user/signup" class="needs-validation" novalidate>
      
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input 
          name="username" 
          id="username" 
          placeholder="Enter your username" 
          class="form-control" 
          type="text" 
          required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a valid username.</div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input 
          name="email" 
          id="email" 
          placeholder="Enter your email" 
          class="form-control" 
          type="email" 
          required>
        <div class="invalid-feedback">Please enter a valid email.</div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input 
          name="password" 
          id="password" 
          placeholder="Create a password" 
          class="form-control" 
          type="password" 
          required>
        <div class="invalid-feedback">Password is required.</div>
      </div>

      <!-- Submit Button -->
      <button class="btn w-100 rounded-pill text-white" style="background-color: #FF385C;">Sign Up</button>

      <!-- Login Link  -->
      <div class="text-center mt-3">
        <small>Already have an account? 
          <a href="/user/login" style="color: #FF385C; text-decoration: none; font-weight: 500;">
            Login in Here
          </a>
        </small>
      </div>
    </form>
  </div>
</div>
